/* Reset and base styles */
body {
    font-family: 'Georgia', serif;
    color: silver;
    background-color: #303338;
}

/* Header styles */
header {
    padding: 2rem 1rem;
    text-align: center;
}

nav {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: silver;
}

.nav-links li {
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: silver;
    margin: 1em;
}

.nav-links li a:hover {
    background-color: darkblue;
    box-shadow: 1em;
}