/* Reset and base styles */
body {
    font-family: 'Georgia', serif;
    color: silver;
    background-color: black;
}

/* Header styles */
header {
    padding: 2rem 1rem;
    text-align: center;
}

nav {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0;
}

.nav-links a:hover {
    background-color: lightblue;
}